//-----------------------------------------
// COLORS CUSTOM
//-----------------------------------------

$principal: #ff5d24;
$secondary: #ffdfd3;
$tertiary: #43c784;
$greenCustom1: #c1ecd5;
$principalCustom1: #fee4dd;
$quaternary: #f59f00;
$quaternaryCustom1: #fedfb8;
$blue: #0018ff;
$yellow: #ffb923;
$pink: #fff7f4;
$green: #22b663;
$white: white;
$text1: #102027;
$text2: #666666;

/*-------------------------------------------
//OVERRIDE STYLES BOOTSTRAP
-------------------------------------------*/

html {
  font-size: 14px;
}

body {
  color: $text1;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: $principal !important;
}

.form-control:focus {
  color: $text2;
  background-color: #fff;
  border-color: #fa5f3e;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(250, 95, 62, 0.21);
}

//BG

.bg-primary {
  background-color: $principal !important;
}

.bg-light {
  background-color: $white !important;
}

.bg-pink {
  background-color: $pink !important;
}

//NAVBAR

.navbar-light .navbar-brand {
  color: $principal !important;
}

.navbar-light .navbar-nav .nav-link {
  color: $text1 !important;
}

.navbar-toggler-icon {
  background-image: url("../images/Main.svg") !important;
}

.navbar-light .navbar-toggler {
  color: $white !important;
  border-color: $white !important;
}

.navbar-light .navbar-nav .nav-link.active {
  color: $principal !important;
  font-weight: bold !important;
}

.bg-tertiary {
  background-color: $tertiary !important;
}

.bg-quaternary {
  background-color: $quaternary !important;
}

//IMAGES

.custom-img {
  opacity: 0.2;
}

.rounded-custom {
  border-radius: 50%;
}

//TEXT

.text-primary {
  color: $principal !important;
}

.text-secondary {
  color: $white !important;
}

.text-gray {
  color: $text2;
}

.text-tertiary {
  color: $tertiary;
}

.text-quaternary {
  color: $quaternary;
}

.text-blue {
  color: $blue;
}

//Links - a

.a-btn-more-info {
  color: $white !important;
  text-decoration: underline !important;
}

.a-btn-more-info > i {
  color: $white !important;
  text-decoration: underline !important;
}

.a-text-primary {
  color: $principal !important;
  text-decoration: none;
  font-weight: bold !important;
}

.a-text-primary:hover {
  color: $principal !important;
  text-decoration: underline !important;
  font-weight: bold !important;
}

//BUTTONS

//-PRIMARY

.btn-outline-primary {
  color: $principal !important;
  border-color: $principal !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background-color: darken($principal, 10%) !important;
  color: $white !important;
}

.btn-outline-primary:active {
  background-color: darken($principal, 10%) !important;
  border-color: darken($principal, 15%) !important;
  color: $white !important;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba($principal, 0.5) !important;
}

.btn-primary {
  color: $white !important;
  border-color: $principal !important;
  background-color: $principal !important;
}

.btn-primary:hover {
  box-shadow: 0 0 0 0.2rem rgba($principal, 0.5) !important;
  color: $principal !important;
  border-color: $principal !important;
  background-color: $white !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba($principal, 0.5) !important;
}

//-------------------------------------------------

.btn-primary-pricing {
  color: $principal !important;
  border-color: $principalCustom1 !important;
  background-color: $principalCustom1 !important;
  font-weight: bold !important;
}

.btn-primary-pricing:hover,
.btn-primary-pricing:focus {
  background-color: darken($principalCustom1, 10%) !important;
  color: $principal !important;
}

.btn-primary-pricing:active {
  background-color: darken($principalCustom1, 10%) !important;
  border-color: darken($principalCustom1, 15%) !important;
  color: $white !important;
}

.btn-primary-pricing:focus {
  box-shadow: 0 0 0 0.2rem rgba($principalCustom1, 0.5) !important;
}

.btn-primary-pricing:focus {
  box-shadow: 0 0 0 0.2rem rgba($principalCustom1, 0.5) !important;
}

//CUSTOM

.button-custom {
  outline: none !important;
}

//-SECONDARY

.btn-secondary {
  color: $tertiary !important;
  border-color: $greenCustom1 !important;
  background-color: $greenCustom1 !important;
  font-weight: bold !important;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: darken($greenCustom1, 10%) !important;
  color: $green !important;
}

.btn-secondary:active {
  background-color: darken($greenCustom1, 10%) !important;
  border-color: darken($greenCustom1, 15%) !important;
  color: $secondary !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba($greenCustom1, 0.5) !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba($greenCustom1, 0.5) !important;
}

//-QUATERNARY

.btn-quaternary-pricing {
  color: $quaternary !important;
  border-color: $quaternaryCustom1 !important;
  background-color: $quaternaryCustom1 !important;
  font-weight: bold !important;
}

.btn-quaternary-pricing:hover,
.bbtn-quaternary-pricing:focus {
  background-color: darken($quaternaryCustom1, 10%) !important;
  color: $quaternary !important;
}

.bbtn-quaternary-pricing:active {
  background-color: darken($quaternaryCustom1, 10%) !important;
  border-color: darken($quaternaryCustom1, 15%) !important;
  color: $quaternary !important;
}

.btn-quaternary-pricing:focus {
  box-shadow: 0 0 0 0.2rem rgba($quaternaryCustom1, 0.5) !important;
}

.btn-quaternary-pricing:focus {
  box-shadow: 0 0 0 0.2rem rgba($quaternaryCustom1, 0.5) !important;
}

//SPANS

.span-custom {
  border-color: $principal !important;
  background-color: $secondary;
  display: inline-block;
  color: $principal !important;
  font-weight: 600;
  padding: 9px 30px;
  border-radius: 30px;
  margin-bottom: 15px;
}

.about-content span::before {
  content: "";
  position: absolute;
  left: 50;
  top: 0;
  height: 22px;
  width: 55px;
  background: $principal !important;
  opacity: 0.2;
}

.services-area-div span::before {
  content: "";
  position: absolute;
  left: 50;
  top: 0;
  height: 22px;
  width: 55px;
  background: $tertiary;
  z-index: -2;
  opacity: 0.2;
}

.appointment-contact-div span::before {
  content: "";
  position: absolute;
  left: 50;
  top: 0;
  height: 22px;
  width: 55px;
  background: $quaternary;
  z-index: -2;
  opacity: 0.2;
}

.performance-div span::before {
  content: "";
  position: absolute;
  left: 50;
  top: 0;
  height: 22px;
  width: 55px;
  background: $blue;
  z-index: -2;
  opacity: 0.2;
}

.pricing-content span::before {
  content: "";
  position: absolute;
  left: 50;
  top: 0;
  height: 22px;
  width: 55px;
  background-color: $principal !important;
  z-index: 1;
  opacity: 0.2;
}

.expert-div span::before {
  content: "";
  position: absolute;
  left: 50;
  top: 0;
  height: 22px;
  width: 55px;
  background: $tertiary;
  z-index: -2;
  opacity: 0.2;
}

.span-pricing {
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
  margin-left: -6px;
  color: $text2;
}

.testimonial .testimonial-span::before {
  content: "";
  position: absolute;
  left: 50;
  top: 0;
  height: 22px;
  width: 55px;
  background: $principal;
  z-index: -2;
  opacity: 0.2;
}

.news-content span::before {
  content: "";
  position: absolute;
  left: 50;
  top: 0;
  height: 22px;
  width: 55px;
  background-color: $principal !important;
  z-index: 1;
  opacity: 0.2;
}

.paper-plane {
  font-size: 1.5rem;
  padding: 0px 13px 0px 13px;
  color: white;
}

.ul-custom {
  list-style: none;
  padding: 0px;
  line-height: 30px;
}

//CARD

.card:hover {
  box-shadow: 0 0 10px #0c0c0c3b;
}

.card {
  box-shadow: 0 0 10px #0c0c0c3b;
}

.card-pricing {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(255, 223, 211, 0.64);
  -moz-box-shadow: 0px 1px 5px 0px rgba(255, 223, 211, 0.64);
  box-shadow: 0px 1px 5px 0px rgba(255, 223, 211, 0.64);
}

//ICONS

.icon-check-custom {
  color: $yellow !important;
}

.icon-check-pricing1 {
  color: $green !important;
}

.icon-check-pricing2 {
  color: $principal !important;
}

.icon-check-pricing3 {
  color: $quaternary !important;
}

.fa-play {
  color: $text1 !important;
}

//VIDEO

.video-btn {
  border: 1px solid $principal;
  text-align: center;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  top: 4px;
  width: 52px;
  height: 52px;
  line-height: 39px;
  margin-left: 20px;
}

.video-btn:hover {
  border: 1px solid $principal;
  text-align: center;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  top: 4px;
  width: 54px;
  height: 54px;
  line-height: 39px;
  margin-left: 20px;
  background-color: $principal !important;
}

.video-btn:hover > i {
  color: $white !important;
  font-size: 1.5rem;
  padding-top: 9px !important;
  padding-left: 5px !important;
}

/*------------------------------
STYLES CUSTOM
-------------------------------*/

.card-div-services-area {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.08),
    0 10px 10px rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08), 0 10px 10px rgba(0, 0, 0, 0.02);
}

.card-div-services-area .icon-primary {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffdfd4),
    color-stop(#ffe6e0),
    color-stop(#ffeeeb),
    color-stop(#fff6f5),
    to(#fffefe)
  );
  background: linear-gradient(
    to bottom,
    #ffdfd4,
    #ffe6e0,
    #ffeeeb,
    #fff6f5,
    #fffefe
  );
  text-align: center;
  border-radius: 50%;
  color: $principal;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-div-services-area .icon-secondary {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#beead1),
    color-stop(#c9f0e1),
    color-stop(#d9f5ee),
    color-stop(#eaf9f8),
    to(#fdfefe)
  );
  background: linear-gradient(
    to bottom,
    #beead1,
    #c9f0e1,
    #d9f5ee,
    #eaf9f8,
    #fdfefe
  );
  text-align: center;
  border-radius: 50%;
  color: $tertiary;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-div-services-area .icon-quaternary {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fdeccc),
    color-stop(#fef0d7),
    color-stop(#fef4e1),
    color-stop(#fff8ec),
    to(#fffcf7)
  );
  background: linear-gradient(
    to bottom,
    #fdeccc,
    #fef0d7,
    #fef4e1,
    #fff8ec,
    #fffcf7
  );
  text-align: center;
  border-radius: 50%;
  color: $tertiary;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-pricing .icon-secondary {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#beead1),
    color-stop(#c9f0e1),
    color-stop(#d9f5ee),
    color-stop(#eaf9f8),
    to(#fdfefe)
  );
  background: linear-gradient(
    to bottom,
    #beead1,
    #c9f0e1,
    #d9f5ee,
    #eaf9f8,
    #fdfefe
  );
  text-align: center;
  border-radius: 50%;
  color: $tertiary;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-pricing .icon-primary {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffdfd4),
    color-stop(#ffe6e0),
    color-stop(#ffeeeb),
    color-stop(#fff6f5),
    to(#fffefe)
  );
  background: linear-gradient(
    to bottom,
    #ffdfd4,
    #ffe6e0,
    #ffeeeb,
    #fff6f5,
    #fffefe
  );
  text-align: center;
  border-radius: 50%;
  color: $principal;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-pricing .icon-quaternary {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fdeccc),
    color-stop(#fef0d7),
    color-stop(#fef4e1),
    color-stop(#fff8ec),
    to(#fffcf7)
  );
  background: linear-gradient(
    to bottom,
    #fdeccc,
    #fef0d7,
    #fef4e1,
    #fff8ec,
    #fffcf7
  );
  text-align: center;
  border-radius: 50%;
  color: $tertiary;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact-background {
  background-image: url("./../images/Contact-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: scroll;
  height: 100;
  width: auto;
}

.margin-x-custom {
  margin-left: 10px !important;
  margin-right: 10px !important;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 3%;
}

.bg-color-brands {
  background-color: #f7eeea;
}

.number-funfacts {
  font-size: 30px;
  font-weight: bold;
}

.number-text-funfacts {
  font-size: 13px;
}

.map-position {
  background-image: url("./../images/map.png");
  height: 100%;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.expert {
  background-image: url("./../images/team-shape-bg.png");
  height: 100%;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial-Div {
  -webkit-box-shadow: 0px 0px 13px 2px rgba(102, 102, 102, 0.12);
  -moz-box-shadow: 0px 0px 13px 2px rgba(102, 102, 102, 0.12);
  box-shadow: 0px 0px 13px 2px rgba(102, 102, 102, 0.12);
}

.padding-none-testimonial {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.testiomonial-P {
  margin-bottom: 15px;
  margin-top: 15px;
  color: $text2;
  font-style: italic;
  line-height: 1.8;
  font-size: 15px;
  text-align: left;
}

.testimonial-img {
  width: 50px;
}

.testimonial-name {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2 !important;
  margin-bottom: 0px !important;
}

.testimonial-job {
  color: $text2;
  margin-top: 2px !important;
}

.quote-img {
  max-width: 65px !important;
  transform: rotate(180deg);
}

.carousel-control-prev-icon {
  background-image: url("./../images/arrow.svg") !important;
}

.carousel-control-next-icon {
  background-image: url("./../images/arrow.svg") !important;
  transform: rotate(180deg);
}

.carousel-control-prev {
  margin-left: 10px !important;
}

.carousel-control-next {
  margin-right: 80px !important;
}

.date-news {
  position: absolute;
  left: 0;
  bottom: 41px;
  color: #ffffff;
  background-color: #ff5d24;
  padding: 5px 12px;
  font-weight: 500;
  font-size: 14px;
}

.contact-results {
  background-color: rgb(255, 93, 36);
  position: relative;
  z-index: 1;
  background-image: url("../images/cta-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.list-group-social {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
}

.list-horizontal {
  color: $text2;
  flex-direction: row;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.banner-main {
  background-image: url("./../images/figuras.png");
  height: 100%;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-bg-lab {
  background-image: url("./../images/card1.png");
  height: 100%;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.analytical-bg-lab {
  background-image: url("./../images/card2.png");
  height: 100%;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.accreditation-bg-lab {
  background-image: url("./../images/card3.png");
  height: 100%;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.figure-img {
  border-radius: 5% !important;
}

.socialmedia, .a-footer {
  color: $text2;
}

.socialmedia:hover, .a-footer:hover {
  color: $principal;
}



//FONTS

.h4-lg-custom {
  font-size: 23px !important;
}

.h3-font-bold {
  font-size: 25px !important;
  font-weight: 700;
}

.number-bold {
  font-weight: 800;
}

/*------------------------------
SHOW MEDIAS QUERIES
-------------------------------*/

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .main-custom h1 {
    font-size: 57px !important;
    font-weight: 700 !important;
  }

  .navbar-light .navbar-brand {
    color: $principal !important;
    font-size: 24px !important;
  }

  .navbar-light .navbar-nav .nav-link {
    color: $text1 !important;
    font-size: 18px !important;
  }

  .date-news {
    position: absolute;
    left: 0;
    bottom: 48px;
    color: #ffffff;
    background-color: #ff5d24;
    padding: 5px 12px;
    font-weight: 500;
    font-size: 14px;
  }

}

@media (min-width: 992px) {
  .h4-lg-custom {
    font-size: 38px !important;
  }

  .h2-lg-custom-main {
    font-size: 57px !important;
  }

  .margin-x-custom {
    margin-left: 500px !important;
    margin-right: 30px !important;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 2%;
  }

  .margin-x-lg-p-h {
    margin-left: 230px;
    margin-right: 230px;
  }

  .padding-progress {
    padding-left: 100px;
  }

  .padding-progress-img {
    padding-top: 1%;
    padding-right: 90px;
  }

  .number-funfacts {
    font-size: 54px;
    font-weight: bold;
  }

  .funfacts-area {
    margin-right: 167px;
    padding-top: 40px;
  }

  .testimonial-img {
    width: 80px;
  }

  .testimonial-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2 !important;
    margin-bottom: 0px !important;
    margin-top: 10px !important;
  }

  .quote-img {
    max-width: 100px !important;
    margin-left: 50px;
    margin-bottom: 10px !important;
    transform: rotate(180deg);
  }

  .carousel-control-prev {
    margin-left: 120px !important;
    margin-top: -278px !important;
  }

  .carousel-control-next {
    margin-right: 120px !important;
    margin-top: -278px !important;
  }

  .carousel-control-prev-icon {
    background-image: url("./../images/arrowlg.svg") !important;
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-size: 50px;
    width: 100px;
    height: 100px;
    margin-right: 10px !important;
  }

  .carousel-control-next-icon {
    background-image: url("./../images/arrowlg.svg") !important;
    transform: rotate(360deg);
    background-size: 50px;
    width: 100px;
    height: 100px;
    margin-left: 10px !important;
  }

  .testimonial {
    background-image: url("./../images/team-shape-bg.png");
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .h3-font-bold {
    font-size: 38px !important;
    font-weight: 800;
  }

  .number-bold {
    font-weight: 800;
    font-size: 45px !important;
  }

  .bg-shapeblue {
    background-image: url("../images/bg-shape3.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .bg-shapebluecelest {
    background-image: url("../images/bg-shape1.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1200px) {
  .margin-x-custom {
    margin-left: 800px !important;
    margin-right: 30px !important;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 2%;
  }
}
